img{
     padding-left: 15px;
     padding-top: 15px;
     width: 65%;
     height: 65%;
}

mat-card{
     margin-top: 20px;
     box-shadow: -10px 5px 10px 10px rgb(228, 228, 228);
     padding-left: 15px;
     margin-bottom: 20px;
     
}

mat-card-title{
     font-size: 20px;
}
mat-card-subtitle{
     margin-top: 10px;
     font-size: 20px;    
}

button{
     font-size: 25px;
     margin-top: 15px;
}

#loginbtn{
     font-size: 15px;
}

.termekek_div{
     display: inline-flex;
     width: 40%;
     margin-left: 5%;
     margin-right: 5%;
}
