<div class="login">
     <h1>Regisztráció</h1>
     <div>
          <mat-form-field appearance="fill" class="inputs">
               <mat-label>Név</mat-label>
               <input matInput [formControl]="nev">
             </mat-form-field>
          </div>
     <div class="email-input">
     <mat-form-field appearance="fill" class="inputs">
          <mat-label>E-mail</mat-label>
          <input matInput [formControl]="email" placeholder="hello@example.com">
          <mat-error *ngIf="email.invalid">{{getErrorMessage_email()}}</mat-error>
        </mat-form-field>
     </div>
     <div class="radio-input">
          <label>Nem: </label>
          <mat-radio-group [formControl]="nem">
            <mat-radio-button value="Férfi">Férfi</mat-radio-button>
            <mat-radio-button value="Nő">Nő</mat-radio-button>
          </mat-radio-group>
        </div>
     <div>
     <mat-form-field appearance="fill" class="inputs">
          <mat-label>Jelszó</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
     </mat-form-field>
     </div>
     <div>
     <mat-error *ngIf="foglalt">{{ErrorMessage_foglalt}}</mat-error>
     </div>
     <div class="login_buttons">
          <button mat-raised-button class="login-button" color="primary"  (click)="register()">Regisztráció</button>
     </div>
     <button mat-stroked-button color="primary" class="register-button" [routerLink]="'/bejelentkezes'">Van már fiókom</button>
 </div>
