table {
  margin-top: 20px;
  width: 100%;
}

#tablediv {
  width: 80%;
  margin: auto;
}

#addDiv {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

#addBtn {
  font-size: 20px;
  padding: 20px;
}
