<div class="login">
     <h1>Bejelentkezés</h1>
     <div>
     <mat-form-field appearance="fill" class="inputs">
          <mat-label>E-mail</mat-label>
          <input matInput [formControl]="email">
        </mat-form-field>
     </div>
     <!--<div class="forms"><label for="email">E-mail: </label><input type="email" [formControl]="email" /></div>-->
     <!--<div class="forms"><label for="password">Jelszó: </label><input type="password" [formControl]="password" /></div>-->
     <div>
     <mat-form-field appearance="fill" class="inputs">
          <mat-label>Jelszó</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
     </div>
     <div class="login_buttons">
          <button mat-raised-button class="login-button" color="primary"  (click)="login()">Bejelentkezés</button>
          <button mat-raised-button color="primary" class="login-button" [routerLink]="'/regisztracio'">Regisztráció</button>
     </div>
 </div>
